.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:   
 #f0f0f0; /* Light gray background */
  font-family: sans-serif; /* Choose a font family */
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #3498db; /* Blue from your image */
}

.file-input_1,.file-input_2 {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.canvas_1,.canvas_2, .canvas_scan_1, .canvas_scan_2 {
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}

.canvas_scan_1,.canvas_scan_2 {
  margin-right: 20px; /* Adjust the margin as needed */
}

.result_1 , .result_2{
  color: #000000; /* Orange from your image */
  padding: 10px;
}


.text-success {
  color: black;
}

.text-danger {
  color: black;
}





/* Gaya Umum */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-bottom: 20px;
  padding-top: 10px;

}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}


th {
  background: Red;
  color: White;
}

/* Gaya Tabel Responsif */
@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    padding-top: 10px;
  }

  th, td {
    display: block;
    width: 100%;
  }

  th:first-child,
  td:first-child {
    padding-top: 10;
    background: Red;
    color: White;
  }

    th {
        display: none;
    }

  th:last-child,
  td:last-child {
    padding-bottom: 10;
  }
}


.custom-file-upload {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 5px;
}

.custom-file-upload img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.custom-file-upload:hover, .custom-file-scan:hover {
  background-color: #e9e7e7;
}




.custom-file-scan{
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 5px;
}

.custom-file-scan img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}






.btn-submit {
  /* Gaya tombol (sesuaikan dengan preferensi Anda) */
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  bottom: 20px;
  margin-left: 20px;
}



.btn-plus {

  bottom: 20px;
  background-color: #4CAF50; /* Hijau */
  color: white;
  border: none;
  border-radius: 50%; /* Membuat tombol berbentuk lingkaran */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
}

.btn-plus:hover , .btn-submit:hover{
  background-color: #e9e7e7;
  color:#4CAF50;
}


.checkmark {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: solid 2px #4CAF50;
  border-radius: 50%;
  border-right: none;
  border-top: none;
  transform: rotate(45deg);
  margin-left: 5px; /* Jarak antara teks dan centang */
  color: #4CAF50;
}
